body {
    background-color:#bae4fa;
}
h1 {
    color: blueviolet;
}

.h3-purple {
    color: purple;
}
.h3-red {
    color: red;
}

.h3-gold {
    color: rgb(179, 154, 15);
}

.boxed {
    border: 2px solid #3c28f0;
    border-radius: 25px;
    padding: 20px;
}
  